@use "mixins" as m;

$bg-color: #36393B;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

 // Color variables
$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;

$color-white: #fff;
$color-black: #000;