@use "mixins" as m;
.navigation{
    display: flex;
    justify-content: end;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.33);
    
    
    &__list{
        margin-top: 4vh;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2em;
        padding-right: 50px;

    &__item{
        font-size: 1em;
        color: white;
           @include m.desktop{
            font-size: 1.4em;
           }
        }
    }
}
#list__color{
    color: white;
            text-decoration: none;
}