

$bg-color: #FDFDBD;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

 // Color variables
$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;
$color-secondary-grey: grey;

$color-white: orange;
$color-black: lightblue;