@use "variables" as v;
@use "mixins" as m;
@use "team";
@use "navbar";

body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
header{
  .hero-image{
    background-image: url("../assets/negative-space-black-forest-dawn.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .desc__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    &__title{
      width: 50%;
      font-size: 1.5em;
      color: white;
    }
    &__firstLine{
      width: 50%;
      font-size: 1.2em;
      color: white;
    }
  }
  #arrow__white{
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    margin-top: 200px;
    @include m.desktop{
      margin-top: 200px;
    }
  }
}
footer{
    width: 100%;
    height: 100%;
    background-color: (v.$color-black, .1);
    background:black;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    @include m.desktop{
      display:flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .footer__p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      width: 100%;
      @include m.desktop{
        margin-left: 10%;
      }
    }
      p {
        color: papayawhip;
        text-align: left;
        font-size: 1.2em;
        @include m.desktop{
          font-size: 1em;
        }
      }
      #footer__p__icon{
        color: white;
        margin-right: 10;
      }
}


