@use "variables" as v;
@use "mixins" as m;

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    border: 5px solid blue;

  

    /*display:flex;
    flex-direction:column; */

    //background-image: url("../assets/negative-space-black-forest-dawn.jpg") ;
    //background-color: v.$bg-color;
    //background-repeat: no-repeat, repeat;
    
    /*article{
        width: 200px;
        height: 50vh;
        background-color: pink;
        position: absolute;
    }*/

header{
  .hero-image{
    background-image: url("../assets/negative-space-black-forest-dawn.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  /*min-height:-100vh;
  position: relative;
  border: 7px solid palevioletred;*/
  

  .top-nav{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 2px solid yellow;;
  }
    #menu-toggle{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 4px solid red;
    }
    .menu-button-container{
      margin:auto;
    }
    .menu-button{
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: end;
    }

  
// Navigation Parts

/*  .navigation {
    //margin-right: 50px;
    position: absolute;
    display: flex;

    &__checkbox {
    display: none;
  }

  &__button {
    background-color: v.$color-secondary-grey;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4rem;
    left: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(v.$color-black, .1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    background-image: radial-gradient(v.$color-primary-blue, v.$color-secondary-bluelight);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }


  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

    &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: v.$color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, v.$color-white 50%);
      background-size: 220%;
      transition: all .4s;

      }

      &:hover,
      &:active {
        background-position: 100%;
        color: v.$color-primary-blue;
        transform: translateX(1rem);
      }
  }

  // Functionnality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 2,5rem;
    margin-left: 50px;

    &,
    &::before,
    &::after {
        width: 3rem;
        height: 3px;
        background-color: v.$color-primary-dark;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &__button:hover &__icon::before {
      top: -1rem;
    }

  &__button:hover &__icon::after {
      top: 1rem;
    }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }
}

*/
}

main{
  margin: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  

/*  div{
    .background-img{
      background-image: url("../assets/negative-space-black-forest-dawn.jpg");
      width: 100vw;
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      border: 3px solid purple;
      background-size: cover;
    } */
  }

footer{
    width: 100vw;
    height: 20vh;
    background-color: (v.$color-black, .1);
    //position: absolute;
    min-height:50px;
    background:PapayaWhip;
    bottom: 10px;
    left: 0;
    right: 0;
}
}

